body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(255, 255, 255);
 
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.navbar {
  color: aquamarine;

}

.carousel {
  width: 80%;
 position: relative;

  margin:0 10%;
  box-shadow: 0 12px 48px 0px rgba(36, 37, 38, 0.2);
  text-align: center;
}

.fourcard {
  display: inline-block;
  max-width: 200px;

  height: 100px;
  margin-left: 170px;

  align-items: center;

  box-shadow: 0 12px 48px 0px rgba(36, 37, 38, 0.2);
  background: rgb(255, 255, 255);

  border-radius: 16px;
}
h1 {
  padding: 10px 10px 10px;
  font-size: large;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: rgb(20, 46, 68);
}
.card{
  width: 25rem;
 display: inline-flex;
 position: relative;
 right: 5%;
 left: 5%;
 margin-right: 5%;
margin-left: 60px;
margin-top: 20px;
box-shadow: 0 12px 48px 0px rgba(36, 37, 38, 0.2);

@media screen and (max-width: 767px) {
  /* Your CSS rules for smartphones here */
  width:fit-content;
  height: fit-content;
  padding-right: 20px;
  margin-right: 50px;
}

}
#features{
  box-shadow: 0 12px 48px 0px rgba(36, 37, 38, 0.2);
  background-color: #fff;
  position: relative;
  z-index: 1;
 height: 10%;
  width: 100%;

  @media screen and (max-width: 767px) {
    /* Your CSS rules for smartphones here */
    width:fit-content;
    height: fit-content;
    display: flex;
    .hello{
      width: 50%;
    }
    
  }

}.firstblock{
  text-align: center;
 
}
.secondblock{
  text-align: center;
}
.thirdblock{
  text-align: center;
}
.row2{
  padding-top: 5rem;
  padding-bottom: 5rem;
  
}

.hello{
  font-size: 400%;
  color: #ef8172;

}
.fa-solid:hover{
  color: #ff4c68;
}
h3{
  padding-top: 1rem;

}
a{
  color: #063f3f;
}
a:hover{
  color: #eaf6f6;
}

.btn{
  
  width: 100%;
  height: 3rem;
border-bottom: 0;
border-right: 0;
border-left: 0;
border-radius: 0;
}
.btndiv{
  display: flex;
  padding: 0;
 padding-top: 15px;
 
}
.btn-right{
  background-color: green;
  color: #eaf6f6;
  
}


footer{
  background: #252525;
  color: #ffffff;
  padding-top: 10px;
  margin-top: 70px;
  box-shadow: 0 12px 48px 0px rgba(36, 37, 38, 0.2);
  
}

footer a {
  color: #aaa;
}

footer a:hover {
  color: #ffffff;
}

footer h3 {
 color: #0894d1;
  letter-spacing: 1px;
  margin: 30px 0 20px;
}

footer .three-column {
 overflow: hidden;
}

footer .three-column li{
 width: 33.3333%;
  float: left;
  padding: 5px 0;
}

footer .socila-list {
  overflow: hidden;
  margin: 20px 0 10px;
}

footer .socila-list li {
  float: left;
  margin-right: 3px;
  opacity: 0.7;
  overflow: hidden;
  border-radius: 50%;
  transition: all 0.3s ease-in-out;
}

footer .socila-list li:hover {
  opacity: 1;
}

footer .img-thumbnail {
  background: rgba(0, 0, 0, 0.2);
  border: 1px solid #444;
  margin-bottom: 5px;
}

footer .copyright {
  padding: 15px 0;
  background: #333;
  margin-top: 20px;
  font-size: 15px;
}

footer .copyright span {
  color: #0894d1;
}



@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,500,300,700);

* {
  font-family: Open Sans;
}

section {
  width: 100%;
  display: inline-block;
  background: #333;
  height: 50vh;
  text-align: center;
  font-size: 22px;
  font-weight: 700;
  text-decoration: underline;
}

.footer-distributed{
  background: #666;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: bold 16px sans-serif;
  padding: 55px 50px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
  display: inline-block;
  vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left{
  width: 40%;
}

/* The company logo */

.footer-distributed h3{
  color:  #ffffff;
  font: normal 36px 'Open Sans', cursive;
  margin: 0;
}

.footer-distributed h3 span{
  color:  lightseagreen;
}

/* Footer links */

.footer-distributed .footer-links{
  color:  #ffffff;
  margin: 20px 0 12px;
  padding: 0;
}

.footer-distributed .footer-links a{
  display:inline-block;
  line-height: 1.8;
  font-weight:400;
  text-decoration: none;
  color:  inherit;
}

.footer-distributed .footer-company-name{
  color:  #222;
  font-size: 14px;
  font-weight: normal;
  margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center{
  width: 35%;
}

.footer-distributed .footer-center i{
  background-color:  #33383b;
  color: #ffffff;
  font-size: 25px;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  text-align: center;
  line-height: 42px;
  margin: 10px 15px;
  vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope{
  font-size: 17px;
  line-height: 38px;
}

.footer-distributed .footer-center p{
  display: inline-block;
  color: #ffffff;
  font-weight:400;
  vertical-align: middle;
  margin:0;
}

.footer-distributed .footer-center p span{
  display:block;
  font-weight: normal;
  font-size:14px;
  line-height:2;
}

.footer-distributed .footer-center p a{
  color:  lightseagreen;
  text-decoration: none;;
}

.footer-distributed .footer-links a:before {
  content: "|";
  font-weight:300;
  font-size: 20px;
  left: 0;
  color: #fff;
  display: inline-block;
  padding-right: 5px;
}

.footer-distributed .footer-links .link-1:before {
  content: none;
}

/* Footer Right */

.footer-distributed .footer-right{
  width: 20%;
}

.footer-distributed .footer-company-about{
  line-height: 20px;
  color:  #92999f;
  font-size: 13px;
  font-weight: normal;
  margin: 0;
}

.footer-distributed .footer-company-about span{
  display: block;
  color:  #ffffff;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 20px;
}

.footer-distributed .footer-icons{
  margin-top: 25px;
}

.footer-distributed .footer-icons a{
  display: inline-block;
  width: 35px;
  height: 35px;
  cursor: pointer;
  background-color:  #33383b;
  border-radius: 2px;

  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;

  margin-right: 3px;
  margin-bottom: 5px;
}

/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 880px) {

  .footer-distributed{
    font: bold 14px sans-serif;
  }

  .footer-distributed .footer-left,
  .footer-distributed .footer-center,
  .footer-distributed .footer-right{
    display: block;
    width: 100%;
    margin-bottom: 40px;
    text-align: center;
  }

  .footer-distributed .footer-center i{
    margin-left: 0;
  }

}



/* Login page css */
body{
  margin-top:20px;
  background-color: #f2f3f8;
}
.login-card {
  margin-bottom: 1.5rem;
  box-shadow: 0 1px 15px 1px rgba(52,40,104,.08);
}

.login-card {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid #e5e9f2;
  border-radius: .2rem;
}


#signInBtn{
  position: relative;
  right: 20px;
  border-radius: 5px;
}

#signInContainer{
  height: fit-content;
  width: fit-content;
  align-items: center;
  align-content: center;
}

